<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.force('pt-br')}}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
         <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>{{=response.title or request.application}}</title>
          <!-- http://dev.w3.org/html5/markup/meta.name.html -->
          <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
    http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    <!-- include stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{=URL('static','css/layout-site.css')}}"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/css/fileinput.css"/>
    </head>
    <body>
      <div id="header">
        <div class="col-md-6 logo-container">
          <a href="../" itemprop="url">
            <img class="logo center" src="/trilhaspoeticas/static/images/trilhas-poeticas.png" alt="Trilhas Poéticas - suas poesias compartilhadas" title="Trilhas Poéticas - suas poesias compartilhadas" itemprop="logo">
          </a>

        </div>
        <br>
        <br>
        <div class="menu clear">
          <ul class="center">
            <li><a href="#sistema">O SISTEMA</a></li>
            <li><a href="#projeto">O PROJETO</a></li>
            <li><a>Download</a></li>
            <li><a>Contato</a></li>
          </ul>
        </div>
      </div>



      <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]--> 
    <!-- Masthead ===================================== -->    
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid main-container">
      {{block center}}
      {{include}}
      {{end}}
    </div>

    <div class="footer clear">
      <ul class="center">
        <li><a href="#">Coletivo Palavra</a></li>
        <li><a href="#">Fac</a></li>
        <li><a href="#">ETC</a></li>
      </ul>
    </div>

  </body>

    <!-- The javascript =============================== -->
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
        'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Custom File Upload -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/js/fileinput.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>        
    <script src="{{=URL('static','js/trilhas.js')}}"></script>
  </html>
