{{extend 'layout-site.html'}}
<br>
<br>
<div id="sobre" class="center1">

	<!-- <h1 id="projeto" class="p1"><b>O PROJETO</b></h1> -->
	<p class="p1"><b style="font-size: 38px">Trilhas Poéticas</b> é um aplicativo para dispositivos móveis que integra arte, tecnologia e o espaço urbano. Por meio do sistema de geoposicionamento (GPS), o programa dá ao usuário a possibilidade de explorar a cidade e acessar obras artísticas de linguagens variadas em formato multimídia.</p>
	<p class="p1">Os trajetos, chamados de trilhas, foram criados de forma experimental por 15 artistas de localidades diferentes dentro do território do Distrito Federal. Os convidados tiveram a missão de indicar os conteúdos desenvolvidos por meio de pontos poéticos que serão capturados pelo público.</p>
	<p class="p1">As trilhas são conjuntos desses pontos, que estão obrigatoriamente ligados entre si de acordo com a narrativa construída por cada autor. Um ponto pode, por exemplo, guardar um conteúdo que pode ser apresentado de formas diversas: texto, hipertexto, vídeo, áudio, imagem, ou combinações destas expressões.</p>
	<p class="p1">Quando o usuário acessa uma trilha, ele deve seguir a orientação do artista de forma progressiva — o ponto 2 só é liberado depois que o usuário chega ao ponto 1, e assim sucessivamente. Ao seguir a trilha, como em um mapa, o leitor deve fazer o trajeto como foi pensado pelo autor, ponto a ponto.</p>
	<p class="p1">O conteúdo de cada ponto segue um tema central e está ligado aos outros pelo hipertexto semântico. Se uma trilha tem o tema voo, asas, ou liberdade, por exemplo, as obras de arte contidas em cada ponto podem estar ligadas a elementos como borboletas, pássaros ou aviões.</p>
	<p class="p1">Por padrão, o aplicativo sugere o ponto-alvo que esteja na trilha mais próxima da localização do trilheiro. Ao escolher um trajeto, o usuário tem acesso a uma descrição completa, um mapa e a classificação indicativa daquela opção. A trajetória escolhida também é salva, para que possa ser relembrada de qualquer lugar.</p>

	<h1 id="sistema" class="p1"><b>O SISTEMA</b></h1>
	<p class="p1">Trilhas Poéticas é formado por uma plataforma web e um aplicativo, ambos de código aberto. Há dois tipos de usuário: quem cria a trilha e o trilheiro, que pode ser considerado o jogador. No projeto-piloto, os criadores são exclusivamente os artistas convidados.</p>
	<p class="p1">A composição apresentada por eles é livre e o sistema dispôs de ferramentas para personalizar os trajetos. Entre as possibilidades estão conteúdos textuais, visuais, sonoros e audiovisuais — autorais ou de terceiros—, e até mesmo o vazio.</p>
	<p class="p1">O produto final tem como objetivo tornar-se um aplicativo em que qualquer um pode criar uma trilha. Como em uma rede social, o usuário terá autonomia para desenvolver conteúdo próprio, que poderá ser acessado por outros. Quando a plataforma estiver aberta a novos criadores de trilhas, esses poderão incluir pontos de terceiros.</p>

	<h1 id="projeto" class="p1"><b>O PROJETO</b></h1>
	<p class="p1">Além de oferecer ao público a possibilidade de conhecer parte da produção criativa local, a iniciativa do Coletivo Palavra propõe uma forma de repensar a cidade sob aspectos subjetivos. É uma reflexão conduzida por artistas e experimentada pelos turistas externos ou internos, instigados a conhecer novas perspectivas.</p>
	<p class="p1">Todas as etapas do aplicativo foram concebidas e executadas baseadas no conceito de interface sob três viés: multimídia, representado pelas linguagens artísticas e plataformas de uso; hipertexto, que é a ligação de sentido presente em cada conjunto de pontos; e colaboração, expressa na diversidade e na liberdade criativa dos convidados.</p>
	<p class="p1">Cada trilha traz consigo a experiência do artista sobre o espaço que ocupa. Os trajetos perpassam o potencial turístico, de estar fora do cotidiano, e ganham o protagonismo por suas nuances. A poética está no caminho.</p>

	<h1 id="download" class="p1"><b>Download</b></h1>
	<p class="p1">Por vir...</p>
	<br>
	<br>
	
</div>
